@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap');

/* Variables */

:root{
    
    /* Colors -> Primary */ 
    --desaturated-dark-cyan: hsl(180, 29%, 50%);
    
    /* Colors -> Neutral */
    --light-grayish-cyan-background: hsl(180, 52%, 96%);
    --light-grayish-cyan-filter-tablets: hsl(180, 31%, 95%);
    --dark-grayish-cyan: hsl(180, 8%, 52%);
    --middle-dark-grayish-cyan: #e6f6f7;  
    --very-dark-grayish-cyan: hsl(180, 14%, 20%);


    /* Typography */
    --font-size: 15px;

    /* Font-weight */
    --weight-500: 500;
    --weight-700: 700;
}

/* Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'League Spartan', sans-serif;
    font-size: var(--font-size);
    background-color: var(--light-grayish-cyan-background);
}

/*------------------------------*\
            #HEADER
\*------------------------------*/

.header-container{
    position: relative;
    height: 200px;
    background-color: var(--desaturated-dark-cyan);
    background-image: url(../assets/img/bg-header-mobile.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.container-categories{
    position: absolute;
    top: 82%;
    left: 10%;
    width: 330px;
    height: 120px;
    background-color: var(--light-grayish-cyan-filter-tablets);
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 6px 14px -2px var(--dark-grayish-cyan);
}

.container-categories__categories{
    width: 72%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 25px;
    overflow-y: auto;
}

.category{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.category__text{
    width: calc(100% - 20px);
    background-color: var(--middle-dark-grayish-cyan);
    font-size: 12px;
    color: var(--desaturated-dark-cyan);
    font-weight: var(--weight-500);
    padding: 6px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px; 
}

.category__close{
    width: 20px;
    background-color: var(--desaturated-dark-cyan);
    font-family: 'League Spartan', sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: var(--light-grayish-cyan-background);
    border: none;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    cursor: pointer;
}

.category__close:is(:hover, :focus){
    background-color: var(--very-dark-grayish-cyan);
}

.container-categories__clear{
    width: 28%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-categories__clear button{
    background: transparent;
    font-family: 'League Spartan', sans-serif;
    color: var(--very-dark-grayish-cyan);
    border: none;
    cursor: pointer;
}

.container-categories__clear button:is(:hover, :focus){
    color: var(--desaturated-dark-cyan);
    text-decoration: underline currentColor;
}

/*------------------------------*\
            #LIST
\*------------------------------*/

.main-container{
    background-color: var(--light-grayish-cyan-background);
    padding-top: 150px;
}

.container-card{
    position: relative;
    width: 325px;
    height: 260px;
    margin-bottom: 40px;
    margin-left: 48px;
    background-color: white;
    border-radius: 5px;
    border-left: 5px solid var(--desaturated-dark-cyan);
    padding-left: 20px;
    padding-right: 25px;
    box-shadow: 0 6px 14px -2px var(--dark-grayish-cyan);
}

.card__logo{
    position: absolute;
    top: -10%;
    width: 50px;
    height: 50px;
}

.card__container-info{
    padding-top: 35px;
    border-bottom: 1px solid var(--dark-grayish-cyan) ;
}

.card__container-info--name{
    display: flex;
    align-items: center;
    column-gap: 25px;
    margin-bottom: 14px;
}

.card__container-info--name--text{
    color: var(--desaturated-dark-cyan);
    font-weight: var(--weight-700);
}

.card__container-info--characteristics{
    display: flex;
    column-gap: 12px;
}

.card__container-info--characteristics--new{
    width: 50px;
    background-color: var(--desaturated-dark-cyan);
    padding: 6px 4px 4px;
    border-radius: 10px; 
    text-transform: uppercase;
    text-align: center;
    color: var(--light-grayish-cyan-background);
    font-size: 11px;
    font-weight: var(--weight-700); 
}

.card__container-info--characteristics--featured{
    width: 77px;
    background-color: var(--very-dark-grayish-cyan);
    padding: 6px 4px 4px;
    border-radius: 10px; 
    text-transform: uppercase;
    text-align: center;
    color: var(--light-grayish-cyan-background);
    font-size: 11px;
    font-weight: var(--weight-700);
}

.card__container-info--job{
    margin-bottom: 16px;
}

.card__container-info--job p{
    font-weight: var(--weight-700);
}

.card__container-info--requirement{
    display: flex;
    align-items: center;
    column-gap: 12px;
    margin-bottom: 20px;
}

.card__container-info--requirement p{
    color: var(--dark-grayish-cyan);
}

.separator{
    width: 3px;
    height: 3px;
    background-color: var(--dark-grayish-cyan);
    border: 1px solid var(--dark-grayish-cyan);
    border-radius: 50%;
}

.container-categories__categories--card{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 16px;
    overflow-y: auto;
}

.category--card{
    background-color: var(--middle-dark-grayish-cyan);
    margin-right: 16px;
    margin-bottom: 16px;
    padding: 6px;
    border-radius: 3px;
}

.category__text--card{
    color: var(--desaturated-dark-cyan);
    font-weight: var(--weight-500);
}

